

.react-datepicker__input-container{

    width: 82% !important;

}
.react-datepicker-wrapper{

    width: 82% !important;
    
    
    }
    
    .react-datepicker__navigation{
     margin-top: 11px !important;
     
    
    }
    
    

    