     
.content_hero_section5 {
    .card {
      .card_content{
        
        img{
          width: 60px;
          max-width: 60px;
          height: 60px;
          min-width:60px;
          border-radius: 50%;
         
         }
        
       }
    }
  
  
  
  
  }
       
  